<div class="panel  row">
  <div class="large-1 columns">
    <%= render template: "votes/show", locals: { story: story} %>
  </div>
  <div class= "large-11 columns body_div">
    <p class="body_text"> <%=  image_tag("check.bmp", class: "story_image", size: "20", tag: "andrew") %> <strong><%= link_to story.title, story_path(story), class: "body_link" %></strong></p>
    <p class="body_description"> <%=render_markdown(story.first_entry)%></p>
    <p class="body_lower_data"><%=story.user ? (link_to story.user.username, user_path(story.user)) : "[DELETED]"%> |
      <%= story.timestamp %> | <a class="body_lower_data" href="#">comments</a></p>
      <div class="submission_text">
        <% story.additions.each do |addition| %>
          <p><%=  addition.body %></p>
        <% end %>
      </div>
  </div>
</div>
<br>
