<div class="story-votes">
  <div class="vote-container">
    <% if current_user && current_user.voted_on?(story) == 1 %>
      <%= link_to "UP", story_vote_path(story, 1), method: :put %>
    <% else %>
      <%= link_to "up", story_vote_path(story, 1), method: :put %>
    <% end %>
    <div class="vote-count"><%= story.vote_score %></div>
    <% if current_user && current_user.voted_on?(story) == -1 %>
      <span class="vote-down">
        <%= link_to "DOWN", story_vote_path(story, -1), method: :put %>
      </span>
    <% else %>
      <span class="vote-down">
        <%= link_to "down", story_vote_path(story, -1), method: :put %>
      </span>
    <% end %>
  </div>
</div>
