<!DOCTYPE html>
<html>
<head>
  <title>Storyboardy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
  <%= link_to "Sign out", logout_path %>
<% else %>
  <%= link_to 'Sign In', login_path %>
<% end %>
<%= yield %>

</body>
</html>
