<!DOCTYPE html>
<html>
<head>
  <title>Storyboardy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
  <%= link_to "Home", root_path %>
  <% if current_user %>
  <%= link_to current_user.username, user_path(current_user) %>
    <%= link_to "Sign out", logout_path %>
  <% else %>
    <%= link_to 'Sign In', login_path %>
  <% end %>
  <% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
  <% end %>
</div>
<%= yield %>

</body>
</html>
